#tl_navigation li {
    position: relative;
}

#tl_navigation .eventseasy_inject {
    margin-bottom: 10px;
}

#tl_navigation .eventseasy_inject li {
    padding: 0 0 0 20px;
    overflow: hidden;
    width: auto;
}

#tl_navigation .eventseasy_inject li a {
    padding-left: 16px;
}

#newseasy,
#newseasy.eventseasy_doNotLaunch {
    display: none;
}

#newseasy.ready {
    display: block;
}

a.navigation.eventCalendar {
    background-image: url('../img/edit.gif');
}