#tl_navigation li {
    position: relative;
}

#tl_navigation .eventeasy_inject {
    margin-bottom: 10px;
}

#tl_navigation .eventeasy_inject li {
    padding: 0 0 0 20px;
    overflow: hidden;
    width: auto;
}

#tl_navigation .eventeasy_inject li a {
    padding-left: 16px;
}

#eventeasy,
#eventeasy.eventeasy_doNotLaunch {
    display: none;
}

#eventeasy.ready {
    display: block;
}

a.navigation.calendarEvents {
    background-image: url('../img/edit.gif');
}